/* 전체 선택자 : 모든 요소를 선택 */
/* *: 1. 전체 의미, 2. 곱하기 */
* {
  color: skyblue;
}

/* 타입 선택자 : 특정 태그명을 가진 모든 요소를 선택 */
h1 {
  color: red;
}

/* 클래스 선택자 : class명을 가진 모든 요소 선택 */
.font-color {
  color: orange;
}

/* ID 선택자 : 태그의 ID로 선택 */
#p1 {
  color: black;
}

/* 그룹 선택자 : ',' 로 구분해서 복수의 요소를 선택 */
em, strong {
  color: blueviolet;
}