.img-float {
  /* float: right; */
  clear: both;
}

.nav {
  list-style: none;
}

.nav > li {
  float: left;
  width: 70px;
  height: 50px;
  background-color: cornflowerblue;
  text-align: center;
  line-height: 50px;
  
}

img {

}