/* 고급 선택자 */

/* 후손 결합자 : 부모 요소의 영역 하에 있는 요소 선택 */
/* 공백을 구분자로 요소를 선택 */

header span {
  color: blue;
}

/* 자식 결합자 : 부모 요소의 영역 하에 있는 자식 요소 선택 */
/* '>'를 구분자로 요소를 선택 */

header > span {
  color: red;
} 

/* 인접 형제 결합자 : 첫번째 선택자 요소 바로 뒤에 나오는 형제 요소를 선택 */
/* '+'를 구분자로 요소 선택 */

header + span {
  color: green;
}

/* 일반 형제 결합자 : 첫번째 선택자 요소 이후에 나오는 모든 형제 요소를 선택 */
/* '~'을 구분자로 요소 선택 */

header ~ p {
  color: rgb(255, 0, 255);
}

/* 속성 선택자 (잘 안씀) */
/* 요소의 속성을 이용하여 특정 요소를 선택 */
/* [속성명] : 특정 속성이 있는 요소를 선택 */

[href=""] {
  font-size: 10px;
}

/* 가상 선택자 : 요소의 상태에 따라 요소를 선택 */
/* 선택자:가상클래스명  <<기본 형태 */

/* link : 아직 방문하지 않은 링크 요소 선택 */

a:link {
  color: black;
}
/* visited : 방문한 링크 요소 선택 */

a:visited {
  color: red;
}

/* hover : 마우스 커서가 올라가 있는 요소 선택 */
a:hover {
  font-size: 1.5rem;
}

/* active : 클릭 중인 요소 선택 */
a:active {
  background-color: brown;
}

input {
  outline: none;
}

/* focus : 포커스가 적용되어 있는 요소 선택 */
*:focus {
  outline: none;
  border: 3px solid red;
}

/* checked: 체크된 상태의 요소를 모두 선택 */
input:checked + label {
  background-color: cadetblue;
}

/* not(선택자) : '()'의 선택자 요소를 제외한 나머지 요소에 스타일을 적용 */
header :not(span) {
  text-decoration: underline;
}

/* nth-child(숫자) : 숫자번째의 자식요소를 선택 */
/* .container :nth-child(2) {
  background-color: #ff0000;
} */

/* nth-child(n + 숫자 ) : 숫자번째의 자식 요소부터 선택 */
/* .container :nth-child(n + 3) {
  background-color: #ff0000;
} */

/* nth-child(n + 숫자 ) : 숫자번째의 자식 요소부터 이전 선택 */
/* .container :nth-child(-n + 3) {
  background-color: #ff0000;
} */

/* .container :nth-child(n +3):nth-child(-n +5) 범위지정 {
  background-color: antiquewhite;
} */

/* .container :nth-child(n +3) (띄어쓰기 후손결합자. 1번째 nth-child 안의 후손 2번째 nth-child라는 뜻):nth-child(-n +5) {
  background-color: antiquewhite;
} */

/* nth-child(odd | even) : 자식요소 중 홀수 또는 짝수번째 요소를 선택(표 만들 때 편함, 표 div로 만듦 */

.container :nth-child(odd) {
  color: blue;
}

/* 선택자:nth-of-type(숫자) : 자식요소 중 선택자에 해당하는 요소 중 숫자 번째 요소를 선택 */
.container p:nth-of-type(2) {
  background-color: cadetblue;
}
