@keyframes moveUpDown {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}


.ball {
  width: 50px;
  height: 50px;
  background-color: yellow;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  /* 요소를 이동 */
  /* transform: translate(200px, 300px); */
  
  /* scale() : 요소를 확대 */
  /* transform: scale(2, 2); */

  /* rotate() : 요소를 회전 */
  /* transform: ratate(45deg); */

  /* skew() : 요소를 비틀기 */
  /* transform: skew(45deg); */

  /* 애니메이션 효과 */
  animation: moveUpDown 0.1s Infinite alternate;
  

}