* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  margin: 3rem auto;
  text-align: center;
}

button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 200px 1fr;
}

/* sidebar */
.sidebar {
  background-color: #ff3b49;
  color: #fff;
}

.sidebar a {
  color: #fff;
}

/* 드롭박스 없는 버전 */
.side-menu {
  margin-bottom: 3rem;
}

.side-menu > li {
  padding: 0.2rem 1rem;
}

.side-menu > li:nth-child(1) {
  font-weight: 900;
  background-color: #ff5662;
  padding: 0.5rem 1rem;
}

.side-menu > li:not(:nth-child(1)):hover {
  background-color: #000;
}

.sdie-menu > li >a {
  width: 100%;
  display: inline-block;
}

/* side-menu 드롭박스 있는 버전 */
.side-menu > h2 {
  font-size: 1rem;
  font-weight: 900;
  background-color: #ff5662; 
  padding: 0.5rem 1rem;
}

#menu-dropbox-01-flg {
  display: none;
}

#menu-dropbox-01-flg:checked + .menu-dropbox {
  display: block;
}

.menu-dropbox {
  display: none;
}

.menu-dropbox > li {
  padding: 0.2rem 1rem; 
}

.menu-dropbox > li:hover {
  background-color: #000;
  transition: all 1.5s;
}

.menu-dropbox > li > a {
  display: inline-block;
  width: 100%;
}

/* main */
.main {
  background-color: #e1e1e1;
}

.search-bar {
  height: 50px; 
}

/* .search-bar {
  padding: 5px 1rem;
} */

.search-bar > form {
  display: flex;
  justify-content: center;
  gap: 10px;
  justify-content: space-around;
  padding: 5px 1rem;
}

#search {
  width: 80%;
  height: 40px;
}

.btn-search-submit {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border: none;
  border-radius: 50%;
  background-color: #6e5af0;
  font-weight: 900;
  color: #fff;
  font-size: 1.5rem;
}

.signboard {
  height: 300px;
  background-image: url('./img/main_title.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;


  /* 자식 요소들 중앙정렬 */
  display: flex;
  justify-content: center;
  align-items: center;
}

.signboard > h2 {
  font-size: 3rem;
  color: #fff;
}

.main-content {
  padding: 15px;  
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
  gap: 10px;
}
.card {
  background-color: #fff;
  padding: 1rem;
}

.card > h3 {
  margin: 1rem 0; 
}

.card-img {
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 70%;
}

/* 기타 */

.btn-move-top {
  width: 50px;
  height: 50px;
  background-color: #000;
  border: none;
  border-radius: 50%;
  color: #fff;
  font-weight: 900;
  position: fixed;
  text-align: center;
  line-height: 50px;
  /* 기본적으로 뷰포트 기준으로 움직임(fixed) */
  /* body 크기 = 뷰포트 크기 */

  right: 50px;
  bottom: 50px;
}