* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  border: 1px solid black;
  width: 680px;
  height: 680px;
  position: relative;
}

.position1 {
  border: 1px solid black;
  width: 190px;
  height: 190px;
  position: absolute;
  top: 10%;
  left: 15%;
}

.position2 {
  border: 1px solid black;
  width: 190px;
  height: 190px;
  position: absolute;
  right: 20%;
  top: 25%;
}

.position3 {
  border: 1px solid black;
  width: 190px;
  height: 190px;
  position: absolute;
  bottom: 10%;
  left: 15%;
}